

.navbar {
  background-color: #e8e1d1;
  border-radius: 5px;
  box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.navbar-brand {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  font-family: made_evolve_sans;
  text-align: center;
  background-color: #e5b63583;
  background-position: center;
  background-repeat: no-repeat;
  letter-spacing: 0.1rem;
  transition: all 0.1s linear;
  padding: 0 5px;
  
  border-radius: 2px;
}
.nav-link:hover {
  background-color: #e5b63583;
  border-radius: 3px;
  color: #000000;
}
.call:hover {
  --_p: 100%;
  transition:
    background-position 0.4s,
    background-size 0s;
}
.call:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}
.call {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  border-radius: 2px;
  /*  background-color: #e5b63583; */
 /*  box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.5); */
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  transition: 1s;
  --c: #e5b63583; /* the color */
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition:
    background-size 0.4s,
    background-position 0s 0.4s;
}
.call:hover {
  --_p: 100%;
  transition:
    background-position 0.4s,
    background-size 0s;
}
.call:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}

nav {
  margin: 0 auto;
  width: 90vw;
  background-color: #e8e1d1;
  border: none;
}
.nav-link {
  color: #000000;
  margin: 0 10px;
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .navbar {
    background-color: #e8e1d1;
    box-shadow:1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  }
  .navbar-brand {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    
    font-family: made_evolve_sans;
    text-align: center;
    background-color: #e5b63583;
    background-position: center;
    background-repeat: no-repeat;
    letter-spacing: 0.1rem;
    transition: all 0.1s linear;
    padding: 0 10px;
    box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.3);
  }
  .nav-link:hover {
    background-color: #e5b63583;
    border-radius: 3px;
    color: #000000;
  }
  .call {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    /*  background-color: #e5b63583; */
    /* box-shadow: 0px 10px 33px 3px rgba(0, 0, 0, 0.5); */
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    transition: 1s;
    --c: #e5b63583; /* the color */
    box-shadow: 0 0 0 0.1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
      var(--_g) calc(var(--_p, 0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p, 0%)) 0%,
      var(--_g) calc(var(--_p, 0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
    outline-offset: 0.1em;
    transition:
      background-size 0.4s,
      background-position 0s 0.4s;
  }
  .call:hover {
    --_p: 100%;
    transition:
      background-position 0.4s,
      background-size 0s;
  }
  .call:active {
    box-shadow: 0 0 9e9Q inset #0009;
    background-color: var(--c);
    color: #fff;
  }
  nav {
    margin: 0 auto;
    width: 90vw;
    background-color: #e8e1d1;
    border: none;
  }
  .nav-link {
    color: #000000;
    margin: 0 10px;
  }
}
@media screen and (min-width: 1440px) {
  .navbar {
    background-color: #e8e1d1;
    /* box-shadow: 0px 10px 33px 3px rgba(0, 0, 0, 0.5); */
  }
  .navbar-brand {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow:1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    font-family: made_evolve_sans;
    text-align: center;
    background-color: #e5b63583;
    background-position: center;
    background-repeat: no-repeat;
    letter-spacing: 0.1rem;
    transition: all 0.1s linear;
    padding: 0 10px;
    
  }
  .nav-link:hover {
    background-color: #e5b63583;
    border-radius: 3px;
    color: #000000;
  }
  .call {
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    /*  background-color: #e5b63583; */
    /* box-shadow:3px 3px 10px 3px rgba(0, 0, 0, 0.5); */
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    transition: 1s;
    --c: #e5b63583; /* the color */
    box-shadow: 0 0 0 0.1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
      var(--_g) calc(var(--_p, 0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p, 0%)) 0%,
      var(--_g) calc(var(--_p, 0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
    outline-offset: 0.1em;
    transition:
      background-size 0.4s,
      background-position 0s 0.4s;
  }
  .call:hover {
    --_p: 100%;
    transition:
      background-position 0.4s,
      background-size 0s;
  }
  .call:active {
    box-shadow: 0 0 9e9Q inset #0009;
    background-color: var(--c);
    color: #fff;
  }
  nav {
    margin: 0 auto;
    width: 90vw;
    background-color: #e8e1d1;
    border: none;
  }
  .nav-link {
    color: #000000;
    margin: 0 10px;
  }
  
}
